<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RK's Home Blog</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <header>
        <h1>Rama Krishna Gujja's Blog</h1>
        <a href="/create">Create New Post</a>
    </header>

    <main class="posts-container">
        <h2>All Posts</h2>
        <% posts.forEach(post => { %>
            <div class="post">
                <h2><%= post.title %></h2>
                <p><%= post.content %></p>
                <div class="post-actions">
                    <a href="/edit/<%= post.id %>">Edit</a>
                    <form action="/delete/<%= post.id %>" method="POST" style="display:inline;">
                        <button type="submit">Delete</button>
                    </form>
                </div>
            </div>
        <% }); %>
    </main>

    <footer>
        <p>&copy; <span id="currentYear"></span> Ram</p>
    </footer>

    <script>
        const yearElement = document.getElementById('currentYear');
        const currentYear = new Date().getFullYear();
        yearElement.textContent = currentYear;
    </script>
</body>
</html>
